<%- include('partials/header') %>
<div class="text-center h2">
    Products List
</div>
<div class="container" style="margin-top:50px">
    <% if(products.length > 0 ) {%>
        <table class="table table-hovered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product, index) => {%>
                    <tr>
                        <th scope="row"><%= product.product_id%></th>
                        <th scope="row"><img src="assets/images/<%= product.product_id%>.<%= product.image.split('.')[1]%>" class="rouned-circle" alt="<%= product.image%>" style="width: 50px; height: 50px;"></th>
                        <th scope="row"><%= product.product_name%></th>
                        <th scope="row"><%= product.quantity%></th>
                        <th scope="row"><%= product.price%></th>
                        <th scope="row"><%= product.category%></th>
                        <td>
                            <a href="/edit/<%= product.product_id%>" target="_blank" class="btn btn-sm btn-success">Edit</a> 
                            <a href="/delete/<%= product.product_id%>" target="_blank" class="btn btn-sm btn-danger">Delete</a> 

                        </td>
                       
                    </tr>
                <%})%>
            </tbody>
        </table>
    <%} else { %>
        <p class="text-center">
            No Products found Go <a href="/add">Here</a> to add Product
        </p>
        <%}%>
   

    
</div>

</body>
</html>